.home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 100px 195px;
}

.home-title {
    // margin-top: 75px;
    margin: 75px 0px 0px 40px;
    width: 650px;
    height: 75px;
    font-style: normal;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.home-sub-title {
    margin: 20px 0px 50px 40px;
    // margin-top: 20px;
    // margin-left: 40px;
    // margin-bottom: 50px;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
}

.home-image {
    display: block;        
    width: 520px;
    height: 385px;
}

.home-content {
    margin-left: 80px;
}

/*@media (max-width: 768px) {
    .home-container {
        padding: 40px 140px 100px 100px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .home-container {
        padding: 40px 140px 100px 100px;
        flex-direction: column;
    }    
}*/

/*@media (min-width: 768px) and (max-width: 991.98px) {
    .home-container {
        padding: 40px 140px 100px 100px;
        flex-direction: column;
    }
}*/

/*@media (max-width: 768px) {
    .home-container {
        padding: 40px 140px 100px 100px;
        flex-direction: column;
    }
}*/

