.main-nav {
    display: flex;
    width: 1615px;
    height: 70px;
    align-items: center;
    padding-left: 40px;
    padding-right: 110px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFC700;
}

.nav-logo-text {
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
}

.nav-current-user {
    text-align: end;
    align-self: center;
    font-weight: bold;
    color: #000000;
}

.nav-link-sair {
    height: 30px;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.nav-link-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #000000;
}

@media only screen and (min-width: 1366px) {
    .main-nav {        
        width: 1730px;
    }
}

@media only screen and (max-width: 910px) {

    .nav-logo-tex {
        width: 30%;
        margin-left: 30%;
     }

    .nav-current-user {
        width: 30%;
        margin-left: 30%;
    }

    .nav-link-sair {
        width: 30%;
        margin-left: 30%;
    }
}

@media only screen and (max-width: 765px) {

    .row {
        height: 100px;
    }

    h4 {
        margin-left: 150px;
    }

     .nav-link-sair {
        margin-left: 110px;
     }
}