.main-nav {
    height: 70px;
    align-items: center;
    padding-left: 40px;
    padding-right: 110px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFC700;
}

.nav-logo-text {
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
}

.nav-link-sair {
    height: 30px;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.nav-link-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #000000;
}